
.cuerpo {
    height: 1500px;
}

.formulario {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 10% 10% 10% 10% 10% 20%;
    justify-content: space-around;
    align-content: space-around;
    grid-template-areas: "formulario_titulo" "formulario_nombre" "formulario_apellido" "formulario_correo" "formulario_numero" "formulario_txt";
    background-color: aqua;
    height: 1200px;
    label {
        font-size: 2.5vh;
        font-family: 'Oswald', sans-serif;
    }
  }
  
  .formulario_titulo {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 65%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-around;
    align-content: space-around;
    grid-template-areas: "sub_formulario_titulo";
    justify-self: stretch;
    grid-area: formulario_titulo;
  }
  
  .sub_formulario_titulo {
    grid-area: sub_formulario_titulo;
    text-align: center;
    font-size: 4vh;
  }
  
  .formulario_nombre {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 65%;
    
    
    justify-content: space-around;
    align-content: space-around;
    grid-template-areas: "sub_formulario_nombre";
    grid-area: formulario_nombre;
  }
  
  .sub_formulario_nombre {
    grid-area: sub_formulario_nombre;
  }
  
  .formulario_apellido {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 65%;
    
    
    justify-content: space-around;
    align-content: space-around;
    grid-template-areas: "sub_formulario_apellido";
    grid-area: formulario_apellido;
  }
  
  .sub_formulario_apellido {
    grid-area: sub_formulario_apellido;
  }
  
  .formulario_correo {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 65%;
    
    justify-content: space-around;
    align-content: space-around;
    grid-template-areas: "sub_formulario_correo";
    grid-area: formulario_correo;
  }
  
  .sub_formulario_correo {
    grid-area: sub_formulario_correo;
  }
  
  .formulario_numero {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 65%;
    
    justify-content: space-around;
    align-content: space-around;
    grid-template-areas: "sub_formulario_numero";
    grid-area: formulario_numero;
  }
  
  .sub_formulario_numero {
    grid-area: sub_formulario_numero;
  }
  
  .formulario_txt {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 65%;
    
    justify-content: space-around;
    align-content: space-around;
    grid-template-areas: "sub_formulario_txt";
    grid-area: formulario_txt;
  }
  
  .sub_formulario_txt {
    grid-area: sub_formulario_txt;
  }
  