
/* .mensaje {
  display: flex;
  justify-content: center;
  
} */


.cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100%;
    background-image: url(../img/aquarela_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .contenedor {
      
      border-radius: 15px;
      background-color: rgba(163, 155, 234, 0.25);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(5px);
      
      
      
    }

}



