.landing1 {
    height: 90px;
    width: 100%;
    
}
.logo {
    display: flex;
    justify-content: center;
    background-image: url(../img/img_09.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.landing2 {
   
    background-image: url(../img/fondo_rosa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1100px;
    
}
.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "profile_img profile_txt" "profile_img profile_link";
  height: 1000px;
  padding-top: 5%;
  
}

.profile_img {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: space-around;
  grid-template-areas: "sub_profile_img";
  grid-area: profile_img;
}

.sub_profile_img {
  grid-area: sub_profile_img;
  background-image: url(../img/valen.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 25px;
  box-shadow: -19px 13px 12px 3px rgba(0,0,0,0.84);
  -webkit-box-shadow: -19px 13px 12px 3px rgba(0,0,0,0.84);
  -moz-box-shadow: -19px 13px 12px 3px rgba(0,0,0,0.84);
 
}

.profile_txt {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: space-around;
  grid-template-areas: "sub_profile_txt";
  grid-area: profile_txt;
}

.sub_profile_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: sub_profile_txt;
  h1 {
    font-size: 4.3vw;
    font-weight: 900;
    padding-top: 20px;
  }
  h2 {
    font-size: 2.8vw;
    font-weight: 600;
  }
  p {
    font-size: 1.8vw;
    font-weight: 300;
    padding-top: 20px;
  }
}

.profile_link {
  display: grid;
  grid-template-columns: 70%;
  grid-template-rows: 70%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: space-around;
  grid-template-areas: "sub_profile_link";
  grid-area: profile_link;
}

.sub_profile_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: sub_profile_link;
}




  @media (max-width: 767px){
    .profile {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas: "profile_img" "profile_txt" "profile_link";
    }
    
    .profile_img {
      display: grid;
      grid-template-columns: 85%;
      grid-template-rows: 100%;
      gap: 0px 0px;
      grid-auto-flow: row;
      justify-content: space-around;
      align-content: space-around;
      grid-template-areas: "sub_profile_img";
      grid-area: profile_img;
    }
    
    .sub_profile_img {
      grid-area: sub_profile_img;
      height: 100%;
    }
    
    .profile_txt {
      display: grid;
      grid-template-columns: 80%;
      grid-template-rows: 80%;
      gap: 0px 0px;
      grid-auto-flow: row;
      justify-content: space-around;
      align-content: space-around;
      grid-template-areas: "sub_profile_txt";
      grid-area: profile_txt;
    }
    
    .sub_profile_txt {
      grid-area: sub_profile_txt;
      text-align: center;
      font-size: 2.2vw;
      h1 {
        font-size: 3vh;
      }
      h2 {
        font-size: 2vh;
      }
      p {
        font-size: 1.725vh;
      }
    }

    .profile_link {
      display: grid;
      grid-template-columns: 60%;
      grid-template-rows: 60%;
      gap: 0px 0px;
      grid-auto-flow: row;
      justify-content: space-around;
      align-content: space-around;
      grid-template-areas: "sub_profile_link";
      grid-area: profile_link;
    }
    
    .sub_profile_link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: sub_profile_link;
      img {
        height: 13vh;
        width: 25vh;
      }
      
    }
    
  }


      .sobre_mi {
        height: 100%;
      }
  

      .contenedor_sobre_mi {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-auto-flow: row;
      grid-template-areas: 
      "area_titulo area_titulo area_titulo" 
      "txt_area1 img_area txt_area2" 
      "txt_area1 img_area txt_area2";
    }

    .area_titulo {
      display: grid;
      grid-template-columns: 75%;
      grid-template-rows: 40%;
      gap: 0px 0px;
      grid-auto-flow: row;
      justify-content: space-around;
      align-content: space-around;
      grid-template-areas: "area_titulo_txt";
      grid-area: area_titulo;
      text-align: center;
    }

    .area_titulo_txt {
      grid-area: area_titulo_txt;
      color: purple;
      font-weight: 900;
      h2 {
        font-size: 3vw;
      }
    }

    .txt_area1 {
      display: grid;
      grid-template-columns: 75%;
      grid-template-rows: 100%;
      gap: 0px 0px;
      grid-auto-flow: row;
      justify-content: space-around;
      align-content: space-around;
      grid-template-areas: "sub_txt_area1";
      grid-area: txt_area1;
      background: linear-gradient(223deg, rgba(255,255,255,1) 52%, rgba(215,144,247,1) 100%);
    }

    .sub_txt_area1 {
      grid-area: sub_txt_area1;
      font-size: 1.50vw;
      text-align: center;
    }

    .txt_area2 {
      display: grid;
      grid-template-columns: 75%;
      grid-template-rows: 100%;
      gap: 0px 0px;
      grid-auto-flow: row;
      justify-content: space-around;
      align-content: space-around;
      grid-template-areas: "sub_txt_area2";
      grid-area: txt_area2;
      background: linear-gradient(144deg, rgba(255,255,255,1) 52%, rgba(215,144,247,1) 100%);
    }

    .sub_txt_area2 {
      grid-area: sub_txt_area2;
      text-align: center;
      font-size: 1.50vw;
      
    }

    .img_area {
      grid-area: img_area;
      background-image: url(../img/fondo_mente.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  


  
.descripcion {
    background-image: url(../img/fondo_blanco.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    .descripcion_txt{
      min-height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: 3vw;
      font-weight: 600;
      p{
        font-family: 'Gabriela', serif;
      }
    }
}
  
.profile2 {
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-template-rows: 100%;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "profile2_txt1 profile2_txt2 profile2_txt3";
  height: 300px;
  text-align: center;
  h2{
    font-weight: 600;
    color: purple;
  }
  p{
    font-weight: 300;
    margin-top: 10px;
    font-size: 1.5vw;
    
  }
  .profile2_txt1 {
    grid-area: profile2_txt1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile2_txt2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: profile2_txt2;
    
  }
  .profile2_txt3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: profile2_txt3;
    
  }
 
}

.consultorio {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "local txt_consultorio";
  height: 950px;
  width: 100%;
  background-image: url(../img/fondo_azul.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.local {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas: "local_1 local_2" "local_3 local_4";
  justify-self: center;
  align-self: center;
  grid-area: local;
  width: 80%;
  height: 60%;
}

.local_1 {
  grid-area: local_1;
  background-image: url(../img/consultorio_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform .2s;
}

.local_1:hover, .local_2:hover, .local_3:hover, .local_4:hover {
  transform: scale(1.5);
}

.local_2 {
  grid-area: local_2;
  background-image: url(../img/consultorio_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform .2s;
}



.local_3 {
  grid-area: local_3;
  background-image: url(../img/consultorio_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform .2s;
}

.local_4 {
  grid-area: local_4;
  background-image: url(../img/consultorio_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform .2s;
}

.local_1, .local_2, .local_3, .local_4 {
  border: 4px outset lightgrey;
}

.txt_consultorio {
  display: grid;
  
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: ".";
  justify-self: stretch;
  grid-area: txt_consultorio;
  text-align: center;
  
  
  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 350px;
    
    
    font-size: 2.5vh;

  }
  h2 {
    padding-top: 75px;
  }

}

@media (max-width: 767px) {
  .consultorio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "txt_consultorio" "local";
    height: 1000px;
  }
  
  .txt_consultorio {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: txt_consultorio;
    p {
      font-size: 3.125vw;
    }
    h2 {
      padding-bottom: 100px;
    }
  }
  
  .local {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
    grid-auto-flow: row;
    grid-template-areas: "local_1 local_2" "local_3 local_4";
    justify-self: center;
    align-self: center;
    grid-area: local;
    width: 80%;
    height: 80%;
  }
  
  .local_1 {
    grid-area: local_1;
  }
  
  .local_2 {
    grid-area: local_2;
  }
  
  .local_3 {
    grid-area: local_3;
  }
  
  .local_4 {
    grid-area: local_4;
  }
}

.pie_pagina {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 100%;
  justify-content: center;

}






