.landing1 {
    height: 90px;
    width: 100%;
    
}
.logo {
    display: flex;
    justify-content: center;
    background-image: url(../img/img_09.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.landing2 {
   
    background-image: url(../img/fondo_rosa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 900px;
}
.profile {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "profile_img profile_txt";
    height: 500px;
    z-index: 999;
    padding-top: 20%;
   
  }
  
  .profile_img {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-content: center;
    background-image: url(../img/valen.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    grid-template-areas: "sub_profile_img";
    grid-area: profile_img;
    box-shadow: -37px 36px 17px 8px rgba(0,0,0,0.75);
    border-radius: 3%;
    position: relative;
    left: 5%;
    height: 700px;
    width: 500px;
    
    
  }
  
  .sub_profile_img {
    grid-area: sub_profile_img;
    z-index: 999;
    
    
    
  }
  
  .profile_txt {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 70%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_profile_txt";
    grid-area: profile_txt;
    
  }
  
  .sub_profile_txt {
    grid-area: sub_profile_txt;
    h1 {
        font-size: 4.5vw;
        font-weight: 900;
    }
    h2 {
        font-size: 3vw;
        font-weight: 600;
    }
    p {
        font-size: 1.60vw;
        font-weight: 100;
        padding-top: 15px;
    }      
    
  }
  
.descripcion {
    background-image: url(../img/fondo_lila.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    .descripcion_txt{
      min-height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: 3vw;
      font-weight: 600;
      p{
        font-family: 'Gabriela', serif;
      }
    }
}
  
.profile2 {
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-template-rows: 100%;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "profile2_txt1 profile2_txt2 profile2_txt3";
  height: 300px;
  text-align: center;
  h2{
    font-weight: 600;
  }
  p{
    font-weight: 300;
    margin-top: 10px;
    font-size: 1.5vw;
    
  }
  .profile2_txt1 {
    grid-area: profile2_txt1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/fondo_purpura.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(208, 211, 237);
  }
  .profile2_txt2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: profile2_txt2;
    background-image: url(../img/fondo_cafe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(213, 196, 207);
  }
  .profile2_txt3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: profile2_txt3;
    background-image: url(../img/fondo_rosa_suave.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(246, 210, 237);
  }
 
}
