.portada {
    background-image: url(../img/portada_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top 25%;
    display: flex;
    justify-content: right;
    height: 300px;
    .portada_txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10rem;
        width: 35rem;
        border: white 4px solid;
        margin: 100px 100px 0px 0px;
        color: white;
        border-style: double;
        h1 {
            font-size: 3.5vw;
            font-family: 'Dancing Script', cursive;
        }
    }
}

.servicios_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    margin: 50px 0px 50px 0px;
    
}
    .asesorias {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 100%;
        grid-template-areas: 
        "asesoria_familia asesoria_individual asesoria_pareja";
        text-align: center;
        font-size: auto;
        div{
            img {
                width: 8rem;
                height: 8rem;
            }
        }
        
    }
    .asesoria_familia {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        grid-area: asesoria_familia;
        
    }
    .asesoria_individual {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: asesoria_individual;
        text-align: center;
    }
    .asesoria_pareja {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: asesoria_pareja;
    }


@media (max-width: 767px) {
    .servicios_1 {
        height: 800px;
    }
    .asesorias {
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 33.33% 33.33% 33.33%;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: space-around;
        align-content: space-around;
        grid-template-areas: "asesoria_familia" "asesoria_individual" "asesoria_pareja";
    }
    .asesoria_familia {
        grid-area: asesoria_familia;
    }
    .asesoria_individual {
        grid-area: asesoria_individual;
    }
    .asesoria_pareja {
        grid-area: asesoria_pareja;
    }
      
}


.presentacion {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    grid-template-areas: "presentacion_img presentacion_txt";
    height: 600px;
    background-image: url(../img/aquarela_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .presentacion_img {
        grid-area: presentacion_img;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .presentacion_img1 {
            background-image: url(../img/valen.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 25px;
            box-shadow: -24px 0px 18px -1px rgba(0,0,0,0.87);
            -webkit-box-shadow: -24px 0px 18px -1px rgba(0,0,0,0.87);
            -moz-box-shadow: -24px 0px 18px -1px rgba(0,0,0,0.87);
            height: 85%;
            width: 50%;
            margin: 0 auto;
        }
        
    
        
    }
    .presentacion_txt{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        grid-area: presentacion_txt;
        position: relative;
        bottom: 5%;
        width: 100%;
        
        h1 {
            font-weight: 900;
        }
        .saludo {
            position: relative;
            bottom: 5%;
        }
        .saludo_txt {
            position: relative;
            top: 10%;
          
        }
    }
    .txt1, .txt2, .txt3 {
        font-weight: 600;
        padding-top: 15px;
        
        
    }
}



@media (max-width: 767px) {
    .presentacion {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        height: 1600px;
        justify-content: space-around;
        align-content: space-around;
        grid-template-areas: "presentacion_img" "presentacion_txt";
      }
      
      .presentacion_img {
        grid-area: presentacion_img;
    
      }
      
      .presentacion_txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-area: presentacion_txt;
        .saludo_txt {
            width: 70%;
        }
      }
}


.sistemico {
    height: 450px;
    
}
    .sistemico_general {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
        grid-template-areas: "sistemico_box sistemico_info";
        height: 450px;
    }
    .sistemico_box {
        display: grid;
        grid-template-columns: 75%;
        grid-template-rows: 35% 65%;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: space-around;
        align-content: space-around;
        grid-template-areas: "sistemico_box_img" "sistemico_box_txt";
        justify-self: center;
        align-self: center;
        grid-area: sistemico_box;
        width: 85%;
        height: 100%;
        box-shadow: 0px 10px 100px -3px rgba(49, 212, 253, 0.5);
        .sistemico_box_img {
            grid-area: sistemico_box_img;
            background-image: url(../img/sistemico.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .sistemico_box_txt {
            grid-area: sistemico_box_txt;
            text-align: center;
           
           
            h2 {
                font-weight: 600;
                margin: 15px 0px 15px 0px;
            }
            
        }
    }
    .sistemico_info {
        grid-area: sistemico_info;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h2 {
            font-weight: 600;
            
        }
        
        
    }
    


@media (max-width: 767px) {
    .sistemico {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        justify-content: space-around;
        align-content: space-around;
        grid-template-areas: "sistemico_general";
        height: 650px;
      }
      
      .sistemico_general {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50fr 50fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "sistemico_box" "sistemico_info";
        justify-self: stretch;
        align-self: stretch;
        grid-area: sistemico_general;
        height: 100%;
      }
      
      .sistemico_box {
        grid-area: sistemico_box;
        height: 440px;
        
      }
      
      .sistemico_info {
        grid-area: sistemico_info;
      }
      
}

.servicios {
    height: 300px;
    background-color: rgb(97, 184, 255);
}
    .precios {
        display: grid;
        grid-template-columns: 20% 20% 20%;
        grid-template-rows: 50%;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: space-around;
        align-content: space-around;
        grid-template-areas: "precios_individual precios_pareja precios_familiar";
        height: 300px;
        text-align: center;
        
      }
      
      .precios_individual {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: precios_individual;
        position: relative;
        perspective: 1000px;
       
        .card {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            border: 3px solid white;
            box-shadow: -20px 13px 100px 0px rgba(255, 255, 255, 0.6);
            transform-style: preserve-3d;
            transition: all 0.5s linear;
            
            
            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                backface-visibility: hidden;
                color: white;
                .card-subtitle {
                    color: lightgrey;
                }
            }
        }
      }

      .precios_individual:hover .card {
        transform: rotateY(180deg);
      }

      .cara.atras {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 50%;
        transform: rotateY(180deg);
        backface-visibility: hidden;
       
      }
      
      .precios_pareja {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: precios_pareja;
        position: relative;
        perspective: 1000px;
        
        .card {
            margin: 0 auto;
            height: 100%;
            width: 100%;
            border: 3px solid white;
            box-shadow: -20px 13px 100px 0px rgba(255, 255, 255, 0.6);
            transform-style: preserve-3d;
            transition: all 0.5s linear;
            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                backface-visibility: hidden;
                color: white;
                .card-subtitle {
                    color: lightgrey;
                }
            }
        }
      }
      
      .precios_pareja:hover .card {
        transform: rotateY(180deg);
      }

      .cara_atras {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 50%;
        transform: rotateY(180deg);
        backface-visibility: hidden;
      }

      .precios_familiar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        grid-area: precios_familiar;
        position: relative;
        perspective: 1000px;
      

      .card {
        margin: 0 auto;
            height: 100%;
            width: 100%;
            border: 3px solid white;
            box-shadow: -20px 13px 100px 0px rgba(255, 255, 255, 0.6);
            transform-style: preserve-3d;
            transition: all 0.5s linear;
            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                backface-visibility: hidden;
                color: white;
                .card-subtitle {
                    color: lightgrey;
                }
            }
      }
    }
    .precios_familiar:hover .card {
        transform: rotateY(180deg);
    }
    .cara.atras {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 50%;
        transform: rotateY(180deg);
        backface-visibility: hidden;
      }
      
@media (max-width: 767px) {
    .servicios{
       height: 600px;
    }
    .precios {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33.3% 33.3% 33.3%;
        gap: 5px;
        justify-content: center;
        align-items: center;
        grid-template-areas: "precios_individual" "precios_pareja" "precios_familiar";
        height: 100%;
      }
      
      .precios_individual {
        grid-area: precios_individual;
      }
      
      .precios_pareja {
        grid-area: precios_pareja;
      }
      
      .precios_familiar {
        grid-area: precios_familiar;
      }
}

.comentarios {
    height: 500px;
}
    .carousel {
        height: 500px;
    }
    .d-block {
        margin: 0 auto;
        height: 500px;
        width: 50%;
    }


.carousel-indicators [data-bs-target] {
  position: relative;
  width: 60px;
  height: 6px;
  border: none;
  border-radius: 24px;
}

.carousel-indicators [data-bs-target] span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #7952b3;
  border-radius: inherit;
}

@media (max-width: 767px) {
    .comentarios {
        height: 250px;
    }
    .d-block {
        height: 250px;
        width: 40%;
    }
    
}