.contenedor1 {
    display: grid;
    grid-template-columns: 52% 38% 10%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "cont1 cont2 cont3";
    background-color: rgb(134, 142, 190);
    height: 600px;
  }
  
  .cont1 {
    grid-area: cont1;
    background-image: url(../img/img_02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .cont2 {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    background-color: white;
    grid-template-areas: "sub_cont2";
    grid-area: cont2;
  }
  
  .sub_cont2 {
    grid-area: sub_cont2;
    a {
        text-decoration: none;
        color: black;
        background-color: rgb(134, 181, 252);
        border-radius: 25px;
        padding: 10px 10px 10px 10px;
        position: relative;
        top: 150PX;

    }
  }
  
  .cont3 {
    grid-area: cont3;
  }

  .seccion2 {
    height: 600px;
  }
  .contendor2 {
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 100%;
    gap: 70px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "info1 info2";
    height: 600px;
  }
  
  .info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: info1;
    
    h4 {
      font-weight: 100;
      position: relative;
      bottom: 5%;
    }
    h2 {
      font-size: 3.5rem;
      font-weight: 600;
    }
    hr {
      width: 50%;
      background-color: black;
      height: 5px;
    }
    a {
      text-decoration: none;
      background-color: rgb(134, 181, 252);
      border-radius: 25px;
      color: black;
      width: 110px;
      text-align: center;
      position: relative;
      top: 5%;
      
    }
  }
  
  .info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: info2;
    p{
      font-size: 1.5rem;
    }
    
  }

  .seccion3 {
    background-color: rgb(218, 219, 253);
    
  }
  
  
  .contenedor3 {
    display: grid;
    grid-template-columns: 40% 35%;
    grid-template-rows: 40% 40%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "imagen box1" "imagen box2";
    height: 1000px;
    
  }
  
  .imagen {
    grid-area: imagen;
    background-image: url(../img/img_05.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    box-shadow: -23px 24px 0px -3px rgb(255, 124, 124);
    z-index: 999;
    
  }
  
  .box1 {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 85%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_box1";
    grid-area: box1;
    background-color: white;
  }
  
  .sub_box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: sub_box1;
    h2 {
      font-size: 3rem;
    }
    
  }
  
  .box2 {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 85%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_box2";
    grid-area: box2;
    background-color: white;
    box-shadow: -47px 24px 0px -3px rgb(255, 124, 124);

  }
  
  .sub_box2 {
    display: flex;
    align-items: left;
    grid-area: sub_box2;
    p {
      font-size: 1.4rem;
    }
  }


  .seccion4 {
    height: 600px;
  }
  .contenedor4 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "area1 area3" "area1 area3";
    height: 100%;
  }
  
  .area3 {
    display: grid;
    grid-template-columns: 65%;
    grid-template-rows: 80%;
    gap: 0px 0px;
    grid-auto-flow: row;
    
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_area3";
    grid-area: area3;


  }
  
  .sub_area3 {
    grid-area: sub_area3;
    background-image: url(../img/img_04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: -52px 49px 0px -3px rgba(84, 102, 141);
    z-index: 999;
    

  }
  
  .area2 {
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: 75%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_area2";
    grid-area: area2;
  }
  
  .sub_area2 {
    grid-area: sub_area2;
  }
  
  .area1 {
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: 75%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_area1";
    grid-area: area1;
  }
  
  .sub_area1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: sub_area1;
    h2 {
      font-size: 2.5vw;
      font-weight: 600;
    }
    p {
      font-size:1.5rem;
    };
    a {
      background-color: rgb(134, 181, 252);
      color:black;
    }
    
  }
  .seccion4_1 {
    background-color: rgb(195, 211, 250);
    
  }
  .contenedor4_1 {
    
    width: 100%;
    text-align: center;
    height: 700px;
    
    h2 {
      font-weight: 600;
      font-size: 3.5rem;
      padding-bottom: 90px;
      padding-top: 10px;
    }
    p {
      font-weight: 600;
      font-size: 1.1rem;
    }
  }
  .flexbox {
    display: flex;
    justify-content: space-around;
  }
  .flex1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    background-color: rgb(107, 163, 247);
    border-radius: 200px 0px 200px 0px;
    box-shadow: 32px 29px 17px 8px pink;
    padding: 15px 15px 15px 15px;
    h2 { 
      padding-bottom: 10px;
      font-weight: 600;
    }
  }
  .flex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 450px;
    background-color: rgb(84, 102, 141);
    border-radius: 200px 0px 200px 0px;
    box-shadow: 32px 29px 17px 8px rgb(186, 188, 252);
    position: relative;
    top: 80px;
    color: white;
    h2 { 
      padding-bottom: 10px;
    }
  }
  .flex3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    background-color: rgb(122, 131, 161);
    border-radius: 200px 0px 200px 0px;
    box-shadow: 32px 29px 17px 8px rgb(254, 254, 254);
    h2 { 
      padding-bottom: 10px;
      
    }
  }

  .contenedor5 {
    display: grid;
    grid-template-columns: 27.5% 45% 27.5%;
    grid-template-rows: 27.5% 45% 27.5%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    height: 1000px;
    grid-template-areas: ". parent1 ." "parent2 img parent3" ". parent4 .";
    margin-top: 15px;
    p {
      font-size: 1.2rem;
    }
  }
  
  .img {
    grid-area: img;
    background-image: url(../img/img_06.jpg);
    background-size: cover;
    background-position: center center;
  }
  
  .parent1 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_parent1";
    grid-area: parent1;
  }
  
  .sub_parent1 {
    grid-area: sub_parent1;
  }
  
  .parent2 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_parent2";
    grid-area: parent2;
  }
  
  .sub_parent2 {
    grid-area: sub_parent2;
  }
  
  .parent4 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_parent4";
    grid-area: parent4;
  }
  
  .sub_parent4 {
    grid-area: sub_parent4;
  }
  
  .parent3 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_parent3";
    grid-area: parent3;
  }
  
  .sub_parent3 {
    grid-area: sub_parent3;
  }

  .seccion6 {
    height: 900px;
    background-color: #adcce9;
    width: 100%;
    .pink {
      position: relative;
      left: 60%;
      width: 15%;
      height: 100%;
      background-color: #fbadb0;
    }
    .couple {
      background-image: url(../img/img_08.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 47%;
      height: 55%;
      position: relative;
      bottom: 89%;
      left: 35%;
    }
    .banner1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 40%;
      width: 30%;
      background-color: white;
      position: relative;
      bottom: 100%;
      left: 15%;
      text-align: center;
      padding: 15px 15px 15px 15px;
      h2 {
        margin-bottom: 25px;
      }
      .separador {
        border-bottom: 3px solid black;
        margin: 25px 0 25px 0;
        max-width: 100%;
      }
      .txt {
        margin-top: 35px;
      }
      p {
        font-size: 1.13rem;
      }
    }
    .banner2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 35%;
      width: 25%;
      background-color: rgb(248, 245, 245);
      position: relative;
      bottom: 135%;
      left: 65%;
      .terapia_pareja {
        text-align: left;
        font-weight: 600;
        font-size: 1.5rem;
        margin: 25px 25px 25px 25px;
      }
    }
  }
    


 