@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");
.contenedor1 {
  display: grid;
  grid-template-columns: 52% 38% 10%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "cont1 cont2 cont3";
  background-color: rgb(134, 142, 190);
  height: 600px;
}

.cont1 {
  grid-area: cont1;
  background-image: url(../img/img_02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cont2 {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  background-color: white;
  grid-template-areas: "sub_cont2";
  grid-area: cont2;
}

.sub_cont2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: sub_cont2;
  font-size: 1rem;
}
.sub_cont2 a {
  text-decoration: none;
  text-align: center;
  color: black;
  width: 23%;
  background-color: rgb(134, 181, 252);
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
}

.cont3 {
  grid-area: cont3;
}

@media (max-width: 767px) {
  .seccion1 {
    height: 600px;
  }
  .contenedor1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "cont3" "cont1" "cont2";
  }
  .cont1 {
    grid-area: cont1;
  }
  .cont2 {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 85%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_cont2";
    grid-area: cont2;
  }
  .sub_cont2 {
    grid-area: sub_cont2;
  }
  .cont3 {
    grid-area: cont3;
  }
}
.contendor2 {
  display: grid;
  grid-template-columns: 35% 35%;
  grid-template-rows: 100%;
  gap: 70px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "info1 info2";
  height: 60vw;
}

.info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: info1;
}
.info1 font h4 {
  font-weight: 100;
  position: relative;
  bottom: 5%;
}
.info1 h2 {
  font-size: 4vw;
  font-weight: 600;
}
.info1 hr {
  width: 50%;
  background-color: black;
  height: 5px;
}
.info1 a {
  text-decoration: none;
  background-color: rgb(134, 181, 252);
  border-radius: 25px;
  color: black;
  width: 17vw;
  font-size: 2.2vw;
  text-align: center;
  position: relative;
  top: 5%;
}

.info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: info2;
}
.info2 p {
  font-size: 3vw;
}

.seccion3 {
  background-color: rgb(218, 219, 253);
}

.contenedor3 {
  display: grid;
  grid-template-columns: 40% 35%;
  grid-template-rows: 40% 40%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "imagen box1" "imagen box2";
  height: 1000px;
}

.imagen {
  grid-area: imagen;
  background-image: url(../img/img_05.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  box-shadow: -23px 24px 0px -3px rgb(255, 124, 124);
  z-index: 999;
}

.box1 {
  display: grid;
  grid-template-columns: 85%;
  grid-template-rows: 85%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_box1";
  grid-area: box1;
  background-color: white;
}

.sub_box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: sub_box1;
}
.sub_box1 h2 {
  font-size: 3vw;
}

.box2 {
  display: grid;
  grid-template-columns: 85%;
  grid-template-rows: 85%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_box2";
  grid-area: box2;
  background-color: white;
  box-shadow: -47px 24px 0px -3px rgb(255, 124, 124);
}

.sub_box2 {
  display: flex;
  align-items: left;
  grid-area: sub_box2;
}
.sub_box2 p {
  font-size: 1.3vw;
}

@media (max-width: 767px) {
  .seccion3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  .contenedor3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "box1" "imagen" "box2";
    width: 60%;
    height: 60%;
    box-shadow: -23px 24px 0px -3px rgb(255, 124, 124);
  }
  .imagen {
    grid-area: imagen;
    box-shadow: -23px 24px 0px -3px transparent;
  }
  .box1 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_box1";
    grid-area: box1;
  }
  .sub_box1 {
    grid-area: sub_box1;
  }
  .box2 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_box2";
    grid-area: box2;
    margin-top: 10px;
    box-shadow: -23px 24px 0px -3px transparent;
  }
  .sub_box2 {
    display: flex;
    align-items: center;
    grid-area: sub_box2;
  }
  .sub_box2 p {
    font-size: 1.6vw;
  }
}
.seccion4 {
  height: 600px;
}

.contenedor4 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "area1 area3" "area1 area3";
  height: 100%;
}

.area3 {
  display: grid;
  grid-template-columns: 65%;
  grid-template-rows: 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_area3";
  grid-area: area3;
}

.sub_area3 {
  grid-area: sub_area3;
  background-image: url(../img/img_04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: -52px 49px 0px -3px rgb(84, 102, 141);
  z-index: 999;
}

.area2 {
  display: grid;
  grid-template-columns: 75%;
  grid-template-rows: 75%;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: mageta;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_area2";
  grid-area: area2;
}

.sub_area2 {
  grid-area: sub_area2;
}

.area1 {
  display: grid;
  grid-template-columns: 75%;
  grid-template-rows: 75%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_area1";
  grid-area: area1;
}

.sub_area1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: sub_area1;
}
.sub_area1 h2 {
  font-size: 2.5vw;
  font-weight: 600;
}
.sub_area1 p {
  font-size: 2.8vw;
}
.sub_area1 a {
  background-color: rgb(134, 181, 252);
  color: black;
}

@media (max-width: 767px) {
  .seccion4 {
    height: 700px;
  }
  .contenedor4 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "area3" "area1";
  }
  .area1 {
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: 75%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_area1";
    grid-area: area1;
  }
  .sub_area1 {
    grid-area: sub_area1;
  }
  .area3 {
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: 75%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_area3";
    grid-area: area3;
  }
  .sub_area3 {
    grid-area: sub_area3;
  }
}
.seccion4_1 {
  background-color: rgb(195, 211, 250);
  height: 700px;
}

.contenedor4_1 {
  width: 100%;
  text-align: center;
  height: 700px;
}
.contenedor4_1 h2 {
  font-weight: 600;
  font-size: 3.5rem;
  padding-bottom: 10px;
  padding-top: 10px;
}
.contenedor4_1 p {
  font-weight: 600;
  font-size: 1.1rem;
}

.flexbox {
  display: flex;
  justify-content: space-around;
}

.flex1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vw;
  width: 25vw;
  background-color: rgb(107, 163, 247);
  border-radius: 200px 0px 200px 0px;
  box-shadow: 32px 29px 17px 8px pink;
  padding: 15px 15px 15px 15px;
}
.flex1 h2 {
  padding-bottom: 10px;
  font-weight: 600;
}

.flex2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vw;
  width: 30vw;
  background-color: rgb(84, 102, 141);
  border-radius: 200px 0px 200px 0px;
  box-shadow: 32px 29px 17px 8px rgb(186, 188, 252);
  position: relative;
  top: 80px;
  color: white;
}
.flex2 h2 {
  padding-bottom: 10px;
}

.flex3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vw;
  width: 25vw;
  background-color: rgb(122, 131, 161);
  border-radius: 200px 0px 200px 0px;
  box-shadow: 32px 29px 17px 8px rgb(254, 254, 254);
}
.flex3 h2 {
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .seccion4_1 {
    height: 2000px;
  }
  .contenedor4_1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "encabezado" "flexbox" "flexbox" "flexbox";
    height: 100%;
  }
  .flexbox {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "flex1" "flex2" "flex3";
    grid-area: flexbox;
  }
  .flex1 {
    justify-self: center;
    align-self: center;
    grid-area: flex1;
    width: auto;
    height: auto;
  }
  .flex2 {
    justify-self: center;
    align-self: center;
    grid-area: flex2;
    width: auto;
    height: auto;
  }
  .flex3 {
    justify-self: center;
    align-self: center;
    grid-area: flex3;
    width: auto;
    height: auto;
  }
  .encabezado {
    grid-area: encabezado;
  }
}
.contenedor5 {
  display: grid;
  grid-template-columns: 27.5% 45% 27.5%;
  grid-template-rows: 27.5% 45% 27.5%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  height: 1000px;
  grid-template-areas: ". parent1 ." "parent2 img parent3" ". parent4 .";
  margin-top: 15px;
}
.contenedor5 p {
  font-size: 1.2rem;
}

.img {
  grid-area: img;
  background-image: url(../img/img_06.jpg);
  background-size: cover;
  background-position: center center;
}

.parent1 {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 90%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_parent1";
  grid-area: parent1;
}

.sub_parent1 {
  grid-area: sub_parent1;
}

.parent2 {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 90%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_parent2";
  grid-area: parent2;
}

.sub_parent2 {
  grid-area: sub_parent2;
}

.parent4 {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 90%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_parent4";
  grid-area: parent4;
}

.sub_parent4 {
  grid-area: sub_parent4;
}

.parent3 {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 90%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_parent3";
  grid-area: parent3;
}

@media (max-width: 767px) {
  .seccion5 {
    height: 2300px;
  }
  .contenedor5 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "parent1" "parent2" "img" "parent3" "parent4";
    height: 100%;
  }
  .parent1 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_parent1";
    grid-area: parent1;
  }
  .sub_parent1 {
    grid-area: sub_parent1;
    font-size: smaller;
  }
  .parent2 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_parent2";
    grid-area: parent2;
  }
  .sub_parent2 {
    grid-area: sub_parent2;
    font-size: smaller;
  }
  .img {
    grid-area: img;
    margin: 75px 0px 35px 0px;
  }
  .parent3 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_parent3";
    grid-area: parent3;
  }
  .sub_parent3 {
    grid-area: sub_parent3;
    font-size: smaller;
  }
  .parent4 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_parent4";
    grid-area: parent4;
  }
  .sub_parent4 {
    grid-area: sub_parent4;
    font-size: smaller;
  }
}
.sub_parent3 {
  grid-area: sub_parent3;
}

.seccion6 {
  height: 600px;
  background-color: #adcce9;
  width: 100%;
}
.seccion6 .pink {
  position: relative;
  left: 60%;
  width: 15%;
  height: 100%;
  background-color: #fbadb0;
}
.seccion6 .couple {
  background-image: url(../img/img_08.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 37vw;
  height: 45vw;
  position: relative;
  bottom: 89%;
  left: 35%;
  padding: 50x 0px 50px 0px;
}
.seccion6 .banner1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 40%;
  background-color: white;
  position: relative;
  bottom: 100%;
  left: 15%;
  text-align: center;
  padding: 15px 15px 15px 15px;
}
.seccion6 .banner1 h2 {
  margin-bottom: 25px;
  font-size: smaller;
}
.seccion6 .banner1 .separador {
  border-bottom: 3px solid black;
  margin: 25px 0 25px 0;
  max-width: 100%;
}
.seccion6 .banner1 .txt {
  margin-top: 35px;
}
.seccion6 .banner1 p {
  font-size: 1.13vw;
}
.seccion6 .banner2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vw;
  width: 32vw;
  background-color: rgb(248, 245, 245);
  position: relative;
  bottom: 135%;
  left: 65%;
}
.seccion6 .banner2 .terapia_pareja {
  text-align: left;
  font-weight: 600;
  font-size: 1.7vw;
  margin: 25px 25px 25px 25px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
* h1 {
  font-family: "Oswald", sans-serif;
}
* h2 {
  font-family: "Oswald", sans-serif;
}
* h3 {
  font-family: "Oswald", sans-serif;
}
* h4 {
  font-family: "Oswald", sans-serif;
}
* h5 {
  font-family: "Oswald", sans-serif;
}
* p {
  font-family: "Heebo", sans-serif;
}

.landing1 {
  height: 90px;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  background-image: url(../img/img_09.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.landing2 {
  background-image: url(../img/fondo_rosa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 900px;
}

.profile {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "profile_img profile_txt";
  height: 900px;
  z-index: 999;
}

.profile_img {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 90%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-content: center;
  background-image: url(../img/valen.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  grid-template-areas: "sub_profile_img";
  grid-area: profile_img;
  box-shadow: -37px 36px 17px 8px rgba(0, 0, 0, 0.75);
  border-radius: 3%;
  position: relative;
  left: 5%;
  height: 70%;
  width: 60%;
}

.sub_profile_img {
  grid-area: sub_profile_img;
  z-index: 999;
}

.profile_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: 90%;
  grid-template-rows: 70%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "sub_profile_txt";
  grid-area: profile_txt;
}

.sub_profile_txt {
  grid-area: sub_profile_txt;
}
.sub_profile_txt h1 {
  font-size: 4.3vw;
  font-weight: 900;
}
.sub_profile_txt h2 {
  font-size: 2.8vw;
  font-weight: 600;
}
.sub_profile_txt p {
  font-size: 1.8vw;
  font-weight: 100;
  padding-top: 15px;
}

.sobre_mi {
  height: 800px;
}

.descripcion {
  background-image: url(../img/fondo_blanco.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
}
.descripcion .descripcion_txt {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3vw;
  font-weight: 600;
}
.descripcion .descripcion_txt p {
  font-family: "Gabriela", serif;
}

.profile2 {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "profile2_txt1 profile2_txt2 profile2_txt3";
  height: 300px;
  text-align: center;
}
.profile2 h2 {
  font-weight: 600;
  color: purple;
}
.profile2 p {
  font-weight: 300;
  margin-top: 10px;
  font-size: 1.5vw;
}
.profile2 .profile2_txt1 {
  grid-area: profile2_txt1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile2 .profile2_txt2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: profile2_txt2;
}
.profile2 .profile2_txt3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: profile2_txt3;
}

.consultorio {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "local txt_consultorio";
  height: 800px;
  width: 100%;
  background-image: url(../img/fondo_azul.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.local {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas: "local_1 local_2" "local_3 local_4";
  justify-self: center;
  align-self: center;
  grid-area: local;
  width: 80%;
  height: 60%;
}

.local_1 {
  grid-area: local_1;
  background-image: url(../img/consultorio_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s;
}

.local_1:hover, .local_2:hover, .local_3:hover, .local_4:hover {
  transform: scale(1.5);
}

.local_2 {
  grid-area: local_2;
  background-image: url(../img/consultorio_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s;
}

.local_3 {
  grid-area: local_3;
  background-image: url(../img/consultorio_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s;
}

.local_4 {
  grid-area: local_4;
  background-image: url(../img/consultorio_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s;
}

.local_1, .local_2, .local_3, .local_4 {
  border: 4px outset lightgrey;
}

.txt_consultorio {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: ".";
  justify-self: stretch;
  grid-area: txt_consultorio;
  text-align: center;
}
.txt_consultorio p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 600px;
  border-radius: 25px;
  font-size: 1.8vw;
}/*# sourceMappingURL=main.css.map */