@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
.contenedor1 {
  display: grid;
  grid-template-columns: 52% 38% 10%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "cont1 cont2 cont3";
  background-color: rgb(134, 142, 190);
  height: 600px;
}

.cont1 {
  grid-area: cont1;
  background-image: url(../img/img_02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cont2 {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  background-color: white;
  grid-template-areas: "sub_cont2";
  grid-area: cont2;
}

.sub_cont2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: sub_cont2;
  font-size: 1rem;
}
.sub_cont2 a {
  text-decoration: none;
  text-align: center;
  color: black;
  width: 23%;
  background-color: rgb(134, 181, 252);
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
}

.cont3 {
  grid-area: cont3;
}

@media (max-width: 767px) {
  .seccion1 {
    height: 600px;
  }
  .contenedor1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "cont3" "cont1" "cont2";
  }
  .cont1 {
    grid-area: cont1;
  }
  .cont2 {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 85%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_cont2";
    grid-area: cont2;
  }
  .sub_cont2 {
    grid-area: sub_cont2;
  }
  .cont3 {
    grid-area: cont3;
  }
}
.contendor2 {
  display: grid;
  grid-template-columns: 35% 35%;
  grid-template-rows: 100%;
  gap: 70px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "info1 info2";
  height: 60vw;
}

.info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: info1;
}
.info1 font h4 {
  font-weight: 100;
  position: relative;
  bottom: 5%;
}
.info1 h2 {
  font-size: 4vw;
  font-weight: 600;
}
.info1 hr {
  width: 50%;
  background-color: black;
  height: 5px;
}
.info1 a {
  text-decoration: none;
  background-color: rgb(134, 181, 252);
  border-radius: 25px;
  color: black;
  width: 17vw;
  font-size: 2.2vw;
  text-align: center;
  position: relative;
  top: 5%;
}

.info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: info2;
}
.info2 p {
  font-size: 3vw;
}

.seccion3 {
  background-color: rgb(218, 219, 253);
}

.contenedor3 {
  display: grid;
  grid-template-columns: 40% 35%;
  grid-template-rows: 40% 40%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "imagen box1" "imagen box2";
  height: 1000px;
}

.imagen {
  grid-area: imagen;
  background-image: url(../img/img_05.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  box-shadow: -23px 24px 0px -3px rgb(255, 124, 124);
  z-index: 999;
}

.box1 {
  display: grid;
  grid-template-columns: 85%;
  grid-template-rows: 85%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_box1";
  grid-area: box1;
  background-color: white;
}

.sub_box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: sub_box1;
}
.sub_box1 h2 {
  font-size: 3vw;
}

.box2 {
  display: grid;
  grid-template-columns: 85%;
  grid-template-rows: 85%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_box2";
  grid-area: box2;
  background-color: white;
  box-shadow: -47px 24px 0px -3px rgb(255, 124, 124);
}

.sub_box2 {
  display: flex;
  align-items: left;
  grid-area: sub_box2;
}
.sub_box2 p {
  font-size: 1.3vw;
}

@media (max-width: 767px) {
  .seccion3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  .contenedor3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "box1" "imagen" "box2";
    width: 60%;
    height: 60%;
    box-shadow: -23px 24px 0px -3px rgb(255, 124, 124);
  }
  .imagen {
    grid-area: imagen;
    box-shadow: -23px 24px 0px -3px transparent;
  }
  .box1 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_box1";
    grid-area: box1;
  }
  .sub_box1 {
    grid-area: sub_box1;
  }
  .box2 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_box2";
    grid-area: box2;
    margin-top: 10px;
    box-shadow: -23px 24px 0px -3px transparent;
  }
  .sub_box2 {
    display: flex;
    align-items: center;
    grid-area: sub_box2;
  }
  .sub_box2 p {
    font-size: 1.6vw;
  }
}
.seccion4 {
  height: 600px;
}

.contenedor4 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "area1 area3" "area1 area3";
  height: 100%;
}

.area3 {
  display: grid;
  grid-template-columns: 65%;
  grid-template-rows: 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_area3";
  grid-area: area3;
}

.sub_area3 {
  grid-area: sub_area3;
  background-image: url(../img/img_04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: -52px 49px 0px -3px rgb(84, 102, 141);
  z-index: 999;
}

.area2 {
  display: grid;
  grid-template-columns: 75%;
  grid-template-rows: 75%;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: mageta;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_area2";
  grid-area: area2;
}

.sub_area2 {
  grid-area: sub_area2;
}

.area1 {
  display: grid;
  grid-template-columns: 75%;
  grid-template-rows: 75%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_area1";
  grid-area: area1;
}

.sub_area1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: sub_area1;
}
.sub_area1 h2 {
  font-size: 2.5vw;
  font-weight: 600;
}
.sub_area1 p {
  font-size: 2.8vw;
}
.sub_area1 a {
  background-color: rgb(134, 181, 252);
  color: black;
}

@media (max-width: 767px) {
  .seccion4 {
    height: 700px;
  }
  .contenedor4 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "area3" "area1";
  }
  .area1 {
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: 75%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_area1";
    grid-area: area1;
  }
  .sub_area1 {
    grid-area: sub_area1;
  }
  .area3 {
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: 75%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_area3";
    grid-area: area3;
  }
  .sub_area3 {
    grid-area: sub_area3;
  }
}
.seccion4_1 {
  background-color: rgb(195, 211, 250);
  height: 700px;
}

.contenedor4_1 {
  width: 100%;
  text-align: center;
  height: 700px;
}
.contenedor4_1 h2 {
  font-weight: 600;
  font-size: 3.5rem;
  padding-bottom: 10px;
  padding-top: 10px;
}
.contenedor4_1 p {
  font-weight: 600;
  font-size: 1.1rem;
}

.flexbox {
  display: flex;
  justify-content: space-around;
}

.flex1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vw;
  width: 25vw;
  background-color: rgb(107, 163, 247);
  border-radius: 200px 0px 200px 0px;
  box-shadow: 32px 29px 17px 8px pink;
  padding: 15px 15px 15px 15px;
}
.flex1 h2 {
  padding-bottom: 10px;
  font-weight: 600;
}

.flex2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vw;
  width: 30vw;
  background-color: rgb(84, 102, 141);
  border-radius: 200px 0px 200px 0px;
  box-shadow: 32px 29px 17px 8px rgb(186, 188, 252);
  position: relative;
  top: 80px;
  color: white;
}
.flex2 h2 {
  padding-bottom: 10px;
}

.flex3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vw;
  width: 25vw;
  background-color: rgb(122, 131, 161);
  border-radius: 200px 0px 200px 0px;
  box-shadow: 32px 29px 17px 8px rgb(254, 254, 254);
}
.flex3 h2 {
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .seccion4_1 {
    height: 2000px;
  }
  .contenedor4_1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "encabezado" "flexbox" "flexbox" "flexbox";
    height: 100%;
  }
  .flexbox {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "flex1" "flex2" "flex3";
    grid-area: flexbox;
  }
  .flex1 {
    justify-self: center;
    align-self: center;
    grid-area: flex1;
    width: auto;
    height: auto;
  }
  .flex2 {
    justify-self: center;
    align-self: center;
    grid-area: flex2;
    width: auto;
    height: auto;
  }
  .flex3 {
    justify-self: center;
    align-self: center;
    grid-area: flex3;
    width: auto;
    height: auto;
  }
  .encabezado {
    grid-area: encabezado;
  }
}
.contenedor5 {
  display: grid;
  grid-template-columns: 27.5% 45% 27.5%;
  grid-template-rows: 27.5% 45% 27.5%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  height: 1000px;
  grid-template-areas: ". parent1 ." "parent2 img parent3" ". parent4 .";
  margin-top: 15px;
}
.contenedor5 p {
  font-size: 1.2rem;
}

.img {
  grid-area: img;
  background-image: url(../img/img_06.jpg);
  background-size: cover;
  background-position: center center;
}

.parent1 {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 90%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_parent1";
  grid-area: parent1;
}

.sub_parent1 {
  grid-area: sub_parent1;
}

.parent2 {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 90%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_parent2";
  grid-area: parent2;
}

.sub_parent2 {
  grid-area: sub_parent2;
}

.parent4 {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 90%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_parent4";
  grid-area: parent4;
}

.sub_parent4 {
  grid-area: sub_parent4;
}

.parent3 {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 90%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_parent3";
  grid-area: parent3;
}

@media (max-width: 767px) {
  .seccion5 {
    height: 2300px;
  }
  .contenedor5 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "parent1" "parent2" "img" "parent3" "parent4";
    height: 100%;
  }
  .parent1 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_parent1";
    grid-area: parent1;
  }
  .sub_parent1 {
    grid-area: sub_parent1;
    font-size: smaller;
  }
  .parent2 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_parent2";
    grid-area: parent2;
  }
  .sub_parent2 {
    grid-area: sub_parent2;
    font-size: smaller;
  }
  .img {
    grid-area: img;
    margin: 75px 0px 35px 0px;
  }
  .parent3 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_parent3";
    grid-area: parent3;
  }
  .sub_parent3 {
    grid-area: sub_parent3;
    font-size: smaller;
  }
  .parent4 {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_parent4";
    grid-area: parent4;
  }
  .sub_parent4 {
    grid-area: sub_parent4;
    font-size: smaller;
  }
}
.sub_parent3 {
  grid-area: sub_parent3;
}

.seccion6 {
  height: 600px;
  background-color: #adcce9;
  width: 100%;
}
.seccion6 .pink {
  position: relative;
  left: 60%;
  width: 15%;
  height: 100%;
  background-color: #fbadb0;
}
.seccion6 .couple {
  background-image: url(../img/img_08.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 37vw;
  height: 45vw;
  position: relative;
  bottom: 89%;
  left: 35%;
  padding: 50x 0px 50px 0px;
}
.seccion6 .banner1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 40%;
  background-color: white;
  position: relative;
  bottom: 100%;
  left: 15%;
  text-align: center;
  padding: 15px 15px 15px 15px;
}
.seccion6 .banner1 h2 {
  margin-bottom: 25px;
  font-size: smaller;
}
.seccion6 .banner1 .separador {
  border-bottom: 3px solid black;
  margin: 25px 0 25px 0;
  max-width: 100%;
}
.seccion6 .banner1 .txt {
  margin-top: 35px;
}
.seccion6 .banner1 p {
  font-size: 1.13vw;
}
.seccion6 .banner2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vw;
  width: 32vw;
  background-color: rgb(248, 245, 245);
  position: relative;
  bottom: 135%;
  left: 65%;
}
.seccion6 .banner2 .terapia_pareja {
  text-align: left;
  font-weight: 600;
  font-size: 1.7vw;
  margin: 25px 25px 25px 25px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
* h1 {
  font-family: "Oswald", sans-serif;
}
* h2 {
  font-family: "Oswald", sans-serif;
}
* h3 {
  font-family: "Oswald", sans-serif;
}
* h4 {
  font-family: "Oswald", sans-serif;
}
* h5 {
  font-family: "Oswald", sans-serif;
}
* p {
  font-family: "Heebo", sans-serif;
}

.landing1 {
  height: 90px;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  background-image: url(../img/img_09.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.landing2 {
  background-image: url(../img/fondo_rosa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 1100px;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "profile_img profile_txt" "profile_img profile_link";
  height: 1000px;
  padding-top: 5%;
}

.profile_img {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: space-around;
  grid-template-areas: "sub_profile_img";
  grid-area: profile_img;
}

.sub_profile_img {
  grid-area: sub_profile_img;
  background-image: url(../img/valen.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 25px;
  box-shadow: -19px 13px 12px 3px rgba(0, 0, 0, 0.84);
  -webkit-box-shadow: -19px 13px 12px 3px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: -19px 13px 12px 3px rgba(0, 0, 0, 0.84);
}

.profile_txt {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: space-around;
  grid-template-areas: "sub_profile_txt";
  grid-area: profile_txt;
}

.sub_profile_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: sub_profile_txt;
}
.sub_profile_txt h1 {
  font-size: 4.3vw;
  font-weight: 900;
  padding-top: 20px;
}
.sub_profile_txt h2 {
  font-size: 2.8vw;
  font-weight: 600;
}
.sub_profile_txt p {
  font-size: 1.8vw;
  font-weight: 300;
  padding-top: 20px;
}

.profile_link {
  display: grid;
  grid-template-columns: 70%;
  grid-template-rows: 70%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: space-around;
  grid-template-areas: "sub_profile_link";
  grid-area: profile_link;
}

.sub_profile_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: sub_profile_link;
}

@media (max-width: 767px) {
  .profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "profile_img" "profile_txt" "profile_link";
  }
  .profile_img {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-around;
    align-content: space-around;
    grid-template-areas: "sub_profile_img";
    grid-area: profile_img;
  }
  .sub_profile_img {
    grid-area: sub_profile_img;
    height: 100%;
  }
  .profile_txt {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-around;
    align-content: space-around;
    grid-template-areas: "sub_profile_txt";
    grid-area: profile_txt;
  }
  .sub_profile_txt {
    grid-area: sub_profile_txt;
    text-align: center;
    font-size: 2.2vw;
  }
  .sub_profile_txt h1 {
    font-size: 3vh;
  }
  .sub_profile_txt h2 {
    font-size: 2vh;
  }
  .sub_profile_txt p {
    font-size: 1.725vh;
  }
  .profile_link {
    display: grid;
    grid-template-columns: 60%;
    grid-template-rows: 60%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-around;
    align-content: space-around;
    grid-template-areas: "sub_profile_link";
    grid-area: profile_link;
  }
  .sub_profile_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: sub_profile_link;
  }
  .sub_profile_link img {
    height: 13vh;
    width: 25vh;
  }
}
.sobre_mi {
  height: 100%;
}

.contenedor_sobre_mi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas: "area_titulo area_titulo area_titulo" "txt_area1 img_area txt_area2" "txt_area1 img_area txt_area2";
}

.area_titulo {
  display: grid;
  grid-template-columns: 75%;
  grid-template-rows: 40%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: space-around;
  grid-template-areas: "area_titulo_txt";
  grid-area: area_titulo;
  text-align: center;
}

.area_titulo_txt {
  grid-area: area_titulo_txt;
  color: purple;
  font-weight: 900;
}
.area_titulo_txt h2 {
  font-size: 3vw;
}

.txt_area1 {
  display: grid;
  grid-template-columns: 75%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: space-around;
  grid-template-areas: "sub_txt_area1";
  grid-area: txt_area1;
  background: linear-gradient(223deg, rgb(255, 255, 255) 52%, rgb(215, 144, 247) 100%);
}

.sub_txt_area1 {
  grid-area: sub_txt_area1;
  font-size: 1.5vw;
  text-align: center;
}

.txt_area2 {
  display: grid;
  grid-template-columns: 75%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: space-around;
  grid-template-areas: "sub_txt_area2";
  grid-area: txt_area2;
  background: linear-gradient(144deg, rgb(255, 255, 255) 52%, rgb(215, 144, 247) 100%);
}

.sub_txt_area2 {
  grid-area: sub_txt_area2;
  text-align: center;
  font-size: 1.5vw;
}

.img_area {
  grid-area: img_area;
  background-image: url(../img/fondo_mente.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.descripcion {
  background-image: url(../img/fondo_blanco.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
}
.descripcion .descripcion_txt {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3vw;
  font-weight: 600;
}
.descripcion .descripcion_txt p {
  font-family: "Gabriela", serif;
}

.profile2 {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "profile2_txt1 profile2_txt2 profile2_txt3";
  height: 300px;
  text-align: center;
}
.profile2 h2 {
  font-weight: 600;
  color: purple;
}
.profile2 p {
  font-weight: 300;
  margin-top: 10px;
  font-size: 1.5vw;
}
.profile2 .profile2_txt1 {
  grid-area: profile2_txt1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile2 .profile2_txt2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: profile2_txt2;
}
.profile2 .profile2_txt3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: profile2_txt3;
}

.consultorio {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "local txt_consultorio";
  height: 950px;
  width: 100%;
  background-image: url(../img/fondo_azul.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.local {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas: "local_1 local_2" "local_3 local_4";
  justify-self: center;
  align-self: center;
  grid-area: local;
  width: 80%;
  height: 60%;
}

.local_1 {
  grid-area: local_1;
  background-image: url(../img/consultorio_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s;
}

.local_1:hover, .local_2:hover, .local_3:hover, .local_4:hover {
  transform: scale(1.5);
}

.local_2 {
  grid-area: local_2;
  background-image: url(../img/consultorio_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s;
}

.local_3 {
  grid-area: local_3;
  background-image: url(../img/consultorio_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s;
}

.local_4 {
  grid-area: local_4;
  background-image: url(../img/consultorio_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s;
}

.local_1, .local_2, .local_3, .local_4 {
  border: 4px outset lightgrey;
}

.txt_consultorio {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: ".";
  justify-self: stretch;
  grid-area: txt_consultorio;
  text-align: center;
}
.txt_consultorio p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 350px;
  font-size: 2.5vh;
}
.txt_consultorio h2 {
  padding-top: 75px;
}

@media (max-width: 767px) {
  .consultorio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "txt_consultorio" "local";
    height: 1000px;
  }
  .txt_consultorio {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: txt_consultorio;
  }
  .txt_consultorio p {
    font-size: 3.125vw;
  }
  .txt_consultorio h2 {
    padding-bottom: 100px;
  }
  .local {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
    grid-auto-flow: row;
    grid-template-areas: "local_1 local_2" "local_3 local_4";
    justify-self: center;
    align-self: center;
    grid-area: local;
    width: 80%;
    height: 80%;
  }
  .local_1 {
    grid-area: local_1;
  }
  .local_2 {
    grid-area: local_2;
  }
  .local_3 {
    grid-area: local_3;
  }
  .local_4 {
    grid-area: local_4;
  }
}
.pie_pagina {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 100%;
  justify-content: center;
}

/* .mensaje {
  display: flex;
  justify-content: center;

} */
.cuerpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;
  background-image: url(../img/aquarela_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.cuerpo .contenedor {
  border-radius: 15px;
  background-color: rgba(163, 155, 234, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
}

.portada {
  background-image: url(../img/portada_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top 25%;
  display: flex;
  justify-content: right;
  height: 500px;
}
.portada .portada_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 700px;
  border: white 4px solid;
  margin: 100px 100px 0px 0px;
  color: white;
  border-style: double;
}
.portada .portada_txt h1 {
  font-size: 3.5vw;
  font-family: "Dancing Script", cursive;
}

.servicios_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  margin: 50px 0px 50px 0px;
}

.asesorias {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 100%;
  grid-template-areas: "asesoria_familia asesoria_individual asesoria_pareja";
  font-size: 1.125vw;
}

.asesoria_familia {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-area: asesoria_familia;
}
.asesoria_familia img {
  height: 200px;
  width: 200px;
}

.asesoria_individual {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: asesoria_individual;
  text-align: center;
}

.asesoria_pareja {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: asesoria_pareja;
}

@media (max-width: 767px) {
  .servicios_1 {
    height: 800px;
  }
  .asesorias {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-around;
    align-content: space-around;
    grid-template-areas: "asesoria_familia" "asesoria_individual" "asesoria_pareja";
  }
  .asesoria_familia {
    grid-area: asesoria_familia;
  }
  .asesoria_individual {
    grid-area: asesoria_individual;
  }
  .asesoria_pareja {
    grid-area: asesoria_pareja;
  }
}
.presentacion {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "presentacion_img presentacion_txt";
  height: 800px;
  background-image: url(../img/aquarela_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.presentacion .presentacion_img {
  grid-area: presentacion_img;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.presentacion .presentacion_img .presentacion_img1 {
  background-image: url(../img/valen.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 25px;
  box-shadow: -24px 0px 18px -1px rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: -24px 0px 18px -1px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: -24px 0px 18px -1px rgba(0, 0, 0, 0.87);
  height: 650px;
  width: 500px;
}
.presentacion .presentacion_txt {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  grid-area: presentacion_txt;
  position: relative;
  bottom: 5%;
  width: 550px;
}
.presentacion .presentacion_txt h1 {
  font-weight: 900;
}
.presentacion .presentacion_txt .saludo {
  position: relative;
  bottom: 10%;
}
.presentacion .presentacion_txt .saludo_txt {
  position: relative;
  top: 10%;
  font-size: 2.125vh;
}
.presentacion .txt1, .presentacion .txt2, .presentacion .txt3 {
  font-weight: 600;
  padding-top: 15px;
}

@media (max-width: 767px) {
  .presentacion {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    height: 1500px;
    justify-content: space-around;
    align-content: space-around;
    grid-template-areas: "presentacion_img" "presentacion_txt";
  }
  .presentacion_img {
    grid-area: presentacion_img;
  }
  .presentacion_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: presentacion_txt;
  }
  .presentacion_txt .saludo_txt {
    width: 70%;
  }
}
.sistemico {
  height: 800px;
}

.sistemico_general {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
  margin-top: 75px;
  grid-template-areas: "sistemico_box sistemico_info";
  height: 700px;
}

.sistemico_box {
  display: grid;
  grid-template-columns: 75%;
  grid-template-rows: 35% 65%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: space-around;
  grid-template-areas: "sistemico_box_img" "sistemico_box_txt";
  justify-self: center;
  align-self: center;
  grid-area: sistemico_box;
  width: 75%;
  height: 100%;
  box-shadow: 0px 10px 100px -3px rgba(49, 212, 253, 0.5);
}
.sistemico_box .sistemico_box_img {
  grid-area: sistemico_box_img;
  background-image: url(../img/sistemico.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.sistemico_box .sistemico_box_txt {
  grid-area: sistemico_box_txt;
  text-align: center;
}
.sistemico_box .sistemico_box_txt h2 {
  font-weight: 600;
  margin: 15px 0px 15px 0px;
}
.sistemico_box .sistemico_box_txt p {
  font-weight: 600;
}

.sistemico_info {
  grid-area: sistemico_info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.sistemico_info h2 {
  font-weight: 600;
  font-size: 3vw;
}

@media (max-width: 767px) {
  .sistemico {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-around;
    align-content: space-around;
    grid-template-areas: "sistemico_general";
  }
  .sistemico_general {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50fr 50fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "sistemico_box" "sistemico_info";
    justify-self: stretch;
    align-self: stretch;
    grid-area: sistemico_general;
  }
  .sistemico_box {
    grid-area: sistemico_box;
    height: 410px;
  }
  .sistemico_info {
    grid-area: sistemico_info;
  }
}
.servicios {
  height: 600px;
  background-color: rgb(97, 184, 255);
}

.precios {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 70%;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: space-around;
  grid-template-areas: "precios_individual precios_pareja precios_familiar";
  height: 600px;
  text-align: center;
}

.precios_individual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: precios_individual;
  position: relative;
  perspective: 1000px;
}
.precios_individual .card {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  box-shadow: -20px 13px 100px 0px rgba(255, 255, 255, 0.6);
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}
.precios_individual .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  color: white;
}
.precios_individual .card .card-body .card-subtitle {
  color: lightgrey;
}

.precios_individual:hover .card {
  transform: rotateY(180deg);
}

.cara.atras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 50%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.precios_pareja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: precios_pareja;
  position: relative;
  perspective: 1000px;
}
.precios_pareja .card {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border: 1px solid white;
  box-shadow: -20px 13px 100px 0px rgba(255, 255, 255, 0.6);
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}
.precios_pareja .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  color: white;
}
.precios_pareja .card .card-body .card-subtitle {
  color: lightgrey;
}

.precios_pareja:hover .card {
  transform: rotateY(180deg);
}

.cara_atras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 50%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.precios_familiar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: precios_familiar;
  position: relative;
  perspective: 1000px;
}
.precios_familiar .card {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border: 1px solid white;
  box-shadow: -20px 13px 100px 0px rgba(255, 255, 255, 0.6);
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}
.precios_familiar .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  color: white;
}
.precios_familiar .card .card-body .card-subtitle {
  color: lightgrey;
}

.precios_familiar:hover .card {
  transform: rotateY(180deg);
}

.cara.atras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 50%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

@media (max-width: 767px) {
  .servicios {
    height: 600px;
  }
  .precios {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    grid-template-areas: "precios_individual" "precios_pareja" "precios_familiar";
  }
  .precios_individual {
    grid-area: precios_individual;
  }
  .precios_pareja {
    grid-area: precios_pareja;
  }
  .precios_familiar {
    grid-area: precios_familiar;
  }
}
.comentarios {
  height: 500px;
}

.carousel {
  height: 500px;
}

.d-block {
  margin: 0 auto;
  height: 500px;
  width: 50%;
}

.carousel-indicators [data-bs-target] {
  position: relative;
  width: 60px;
  height: 6px;
  border: none;
  border-radius: 24px;
}

.carousel-indicators [data-bs-target] span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #7952b3;
  border-radius: inherit;
}

@media (max-width: 767px) {
  .comentarios {
    height: 250px;
  }
  .d-block {
    height: 250px;
    width: 40%;
  }
}/*# sourceMappingURL=main.css.map */